.navbarText {
    margin-left: 45%;
}
.container {
    margin-top: 3.5%;
    padding-bottom: 3.5%;

}
.jumbotron {
    padding-bottom: 0px;
    padding-top: 0px;
}
#portrait-img {
    margin-bottom: 10px;
}